img {
  width: 10rem;
  height: 10rem;
}

.prev,
.next,
.prev_disabled,
.next_disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: #98bf13;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.prev,
.prev_disabled {
  border-radius: 0 50% 50% 0;
}

.next,
.next_disabled {
  border-radius: 50% 0 0 50%;
}

.prev_disabled,
.next_disabled {
  background-color: rgb(206, 206, 206);
}

.prev polyline,
.next polyline,
.prev_disabled polyline,
.next_disabled polyline {
  font-size: 2em;
  stroke: #fff;
}

.resorts_container {
  width: 100%;
  padding-top: 8em;
}

.resorts_header {
  text-align: center;
}

.current_resorts_container,
.resorts_to_delete_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  width: 100%;
}

.current_resorts_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.resorts_to_delete_container {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  padding-top: 8em;
  width: 100%;
}

.resorts_to_delete_container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  margin: 0;
  font-size: 1.5em;
  border-bottom: 1px solid lightblue;
  width: 100%;
}

.current_resorts_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 1rem;
}

.current_resorts_list li:hover {
  outline: 1px solid lightblue;
}

.current_resorts_list li a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.current_resorts_list li .resort_name {
  color: rgb(85, 84, 84);
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 1.2em;
}

.resort_details {
  text-align: right;
}

.resorts_to_delete_container .btn_delete_resort {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5em;
}

@media only screen and (min-width: 480px) {
  .prev,
  .next,
  .prev_disabled,
  .next_disabled {
    font-size: 2.5rem;
  }

  img {
    width: 15rem;
    height: 15rem;
  }

  .resorts_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .resorts_header {
    text-align: center;
  }

  .current_resorts_container {
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
    padding-top: 2.5rem;
  }

  .resorts_to_delete_container {
    align-items: center;
  }

  .current_resorts_list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .current_resorts_list li .resort_name {
    font-size: 1.5em;
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 768px) {
  img {
    width: 20rem;
    height: 20rem;
  }

  .resorts_container {
    width: 100%;
  }

  .current_resorts_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    list-style: none;
    margin: 0;
    width: 100%;
  }

  .resorts_to_delete_container {
    width: 100%;
    height: 100vh;
    padding-top: 2em;
    padding-right: 2em;
  }
}

@media only screen and (min-width: 1150px) {
  img {
    width: 15rem;
    height: 15rem;
  }

  .resorts_container {
    width: 100%;
    height: 100vh;
    align-items: stretch;
    padding: 0;
  }

  .current_resorts_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    width: 100%;
  }
}
